*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 4rem;
}

.title{
    color: blueviolet;
}

.table__title {
    margin: 1rem auto;
    color: rgba(0, 0, 255, 0.886);
    font-size: 2rem;
}

.container{
    background-color: rgba(0, 255, 255, 0.268);
    width: 600px;
    height: 600px;
    border: solid rgba(165, 42, 42, 0.341);
    box-shadow: 1px 2px 5px black;
    border-collapse: collapse;
}

td, th {
    border: solid rgba(165, 42, 42, 0.341);
    padding: 0.5rem;
}

td:first-child,
th:first-child{
    background-color: rgba(0, 255, 0, 0.636);
    font-weight: bold;
    width: 200px;
    padding: 0.5rem;
    text-align: center;
}

th {
    background: rgba(0, 255, 0, 0.636);
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7) {
    text-align: right;
}